.linkitem:active{
    font-size: 20px;
}
.linkitem{
    cursor: pointer;
    transition: all 1s !important;
    font-size: 14px;
    
}
.linkitem:hover{
    /* color: rgb(255, 0, 157) !important; */
    color: #9F4AE8 !important;
    /* transform:scale(1.2); */
   
}
.linkitemopcity{
    transition: all 1s !important;
    font-size: 14px;
}
.linkitemopcity:hover{
    opacity: 0.6 !important;
    
}
.navbar-collapse{
    transition: all 2s;
}